{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  
  <div class="intro">
    
 <ul>
  <li>A technical professional with 7.3 years of relevant experience in developing enterprises applications and Project Execution.</li>
  <li>Having experience as Software Developer in software design, analysis, development, testing and implementation of web and client server applications using Microsoft Technologies.</li>
  <li>Expertise on in application development using with C#,  ASP.NET MVC. </li>
   <li>Hands on experience on LINQ as the Database data consumer.</li>
   <li>Hands on experience on ADO.NET to access data and data services from the database.</li>
   <li>Extensive experience in design and development of applications using ASP.NET MVC  and Web technologies like HTML, JQuery , CSS, Ajax, JavaScript and in reference architecture.</li>
   <li>Very Good Analytical and Observing skills.</li>
   <li>	Good Knowledge on third party controls Telerik Controls.									</li>
  <li>	Extensive experience in MVC 3, MVC 4 with EDM (Entity Data Model).                          </li>
<li>	Hands on experience to handle JSON objects using JQuery on front end.                       </li>
<li>	Expertise in Team foundation server (TFS) as a source control tool.                         </li>
<li>	Experience in writing Stored Procedures using MS SQL Server 2008/2012.                      </li>
<li>	Experience in Web Services and WCF and web API (REST services).                             </li>
<li>	Experience in configuring IIS and code setup with IIS.                                      </li>
<li>	Experience with various integration with application like LinkedIn, Yammer, PayPal.         </li>
<li>	Ability to learn & develop using new technologies quickly.                                  </li>
<li>	Excellent communication and interpersonal skills.                                           </li>
</ul>
    



  </div>

</section><!--//section-->
{% endif %}
